### Q1: Import the necessary package

In [14]:
import os

In [15]:
pwd

'D:\\Sankar\\Trainings\\DataScience\\Python'

In [16]:
cd D:\Sankar\Trainings

D:\Sankar\Trainings

In [17]:
pwd

'D:\\Sankar\\Trainings'

In [18]:
cd D:\Sankar\Trainings\DataScience\Python

D:\Sankar\Trainings\DataScience\Python

In [19]:
pwd

'D:\\Sankar\\Trainings\\DataScience\\Python'

### Q2: Create the string, int and float variable and delete them all in the next cell

In [20]:
str1 = "String example"
int1=100
float1=100.05

In [22]:
print("String ->",str1)
print("int->",int1)
print("float->",float1)

String -> String example
int-> 100
float-> 100.05

In [23]:
del str1, int1,float1

In [25]:
print("String ->",str1)
print("int->",int1)
print("float->",float1)

NameError: name 'int1' is not defined

#### In the above example, all the 3 variable got deleted due to (del command)

### Q3: What’s the result of assigning a value to a ‘keyword’

In [31]:
def = "trying to assign string to keywork def"

SyntaxError: invalid syntax (Temp/ipykernel_10940/1546025672.py, line 1)

In [32]:
for = 10

SyntaxError: invalid syntax (Temp/ipykernel_10940/1549114973.py, line 1)

### Q4.	How to write a multi-line statement and assign it to a variable (Note: Without using a backslash “\” at the end of each line)

In [3]:
statement1 = """This is an example for multi-line
statement. Lets see if this works?
Backlast is not used at the end """

In [4]:
print(statement1)

This is an example for multi-line
statement. Lets see if this works?
Backlast is not used at the end

### Q5. Print the list of numbers from 100 to 999 with an interval (step size) of 8 between the numbers

In [8]:
list1=list(range(100,999,9))

In [9]:
print(list1)

[100, 109, 118, 127, 136, 145, 154, 163, 172, 181, 190, 199, 208, 217, 226, 235, 244, 253, 262, 271, 280, 289, 298, 307, 316, 325, 334, 343, 352, 361, 370, 379, 388, 397, 406, 415, 424, 433, 442, 451, 460, 469, 478, 487, 496, 505, 514, 523, 532, 541, 550, 559, 568, 577, 586, 595, 604, 613, 622, 631, 640, 649, 658, 667, 676, 685, 694, 703, 712, 721, 730, 739, 748, 757, 766, 775, 784, 793, 802, 811, 820, 829, 838, 847, 856, 865, 874, 883, 892, 901, 910, 919, 928, 937, 946, 955, 964, 973, 982, 991]

### Q6. Write a “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’

In [16]:
for a in range(10):
    print(a)
    if(a==10/2):
        break

0
1
2
3
4
5

### Q7.Write a simple function and call the docstring from outside the function

In [1]:
def func1(a):
    """This is a function to print the range of numbers' """
    for a in range(a):
        print(a)

In [2]:
func1(5)

0
1
2
3
4

In [3]:
print(func1.__doc__)

This is a function to print the range of numbers'

### Q8. Create a user-defined package in ‘site-packages’

In [37]:
from sankar_package import triangle_package as t

In [38]:
a=t.a
b=t.b
c=t.c

In [41]:
def tri_fn(a,b,c):
    s=(a+b+c)/2
    area=(s*(s-a)*(s-b)*(s-c))**.5
    print("Semi perimeter of triangle is ", s)
    print("Area of triangle is ",area)

In [44]:
tri_fn(a,b,c)

Semi perimeter of triangle is  41.5
Area of triangle is  (3.097937745838546e-14+505.93162828587816j)

In [11]:
s=(a+b+c)/2

In [12]:
area=(s*(s-a)*(s-b)*(s-c))**.5

In [14]:
print("Semi perimeter of triangle is ", s)
print("Area of triangle is ",area)

Semi perimeter of triangle is  41.5
Area of triangle is  (3.097937745838546e-14+505.93162828587816j)

### Q9. Write a list comprehension to print the odd numbers from 0 to 100

In [16]:
[a for a in range(100) if a%2!=0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

### Q10. Create a variable (ex: name) and store your full name in it. Then write a list comprehension to print your name excluding vowels (a, e, i, o, u)

In [30]:
name1 = "sankaralingam subramanian"
vow=['a','e','i','o','u']
name2= [i for i in name1 if i not in vow]
print(name2)

['s', 'n', 'k', 'r', 'l', 'n', 'g', 'm', ' ', 's', 'b', 'r', 'm', 'n', 'n']